.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.testFor{
  /*allWordsDiv'i relative yapıp ondan konum almak için bu css*/
  top: 0%;
  left: 50%;                      /*en solu merkez alarak parent'ın boyutunun yarısı kadar ilerliyor*/
  transform: translateX( -50%);   /*X ekseninde kendi boyutunun yarısı kadar negatif yönde ilerliyor*/
  
}

.allPage{
  height: 100%;
  width: 100%;
  
}

@media (max-width: 1600px){

.allWordsDiv{
  margin: 80px auto 0;
  min-width: 820px;
  height: 600px;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5%;
  
}

.wordDiv{
  width: 280px;
  height: 50px;
  /* border: 1px darkblue solid; */
  display: grid;
  grid-template-columns: repeat(5, 58px);
  gap: 5px;
  justify-content: center;
}

.letterDiv{
  height: 48px;
  width: 48px;
  border: 1px rgb(100, 98, 98) solid;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue';
  transition: background 0s linear 0.5s, transform 1s linear;
  color: white;
  background-color: rgb(18, 18, 18);
}

.alphabetDiv{
  width: 700px;
  min-width: 700px;
  height: 246px;
  min-height: 246px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}

.alphabetLetterBox{
  height: 62px;
  min-height: 62px;
  width: 62px;
  min-width: 62px;
  display: flex;
  margin: 0.5%;
  padding: 0;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  transition: background 0s linear 1s;
  color: white;
  background-color: rgb(18, 18, 18);
  /* border: 1px rgb(100, 98, 98) solid; */
}

.deleteButton{
  height: 62px;
  min-height: 62px;
  width: 62px;
  min-width: 62px;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-48%,-16%);
  margin: 1%;
  padding: 0;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.enterButton{
  height: 62px;
  min-height: 62px;
  width: 72px;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%,-16%);
  margin: 1%;
  padding: 0;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.errorMessage{
  height: 54px;
  width: 280px;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: black;
  border: white solid 1px;
  border-radius: 20px;
  color: white;
  align-items: center;
  z-index: 1;
  opacity: 0.8;
  font-size: larger;
  transform: translate(0,-110%);
  opacity: 0;
  transition: opacity 1s;
}

}

.allWordsDiv{
  margin: 80px auto 0;
  width: 500px;
  height: 700px;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5%;
  
}

.wordDiv{
  width: 320px;
  height: 60px;
  /* border: 1px darkblue solid; */
  display: grid;
  grid-template-columns: repeat(5, 58px);
  gap: 6px;
  justify-content: center;
}

.letterDiv{
  height: 58px;
  width: 58px;
  border: 1px rgb(100, 98, 98) solid;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue';
  transition: background 0s linear 0.5s, transform 1s linear;
  color: white;
  background-color: rgb(18, 18, 18);
}

.alphabetDiv{
  width: 570px;
  height: 200px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px rgb(100, 98, 98) solid;
}

.alphabetLetterBox{
  height: 50px;
  min-width: 50px;
  display: flex;
  margin: 0.5%;
  padding: 0;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  transition: background 0s linear 1s;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.bgGreen{
  background-color: rgb(8, 84, 8) !important;
  /* transform: rotate(360deg); */
  transform: rotateX(360deg);
}

.bgYellow{
  background-color: rgb(193, 199, 20);
  /* transform: rotate(360deg); */
  transform: rotateX(360deg);
}

.bgGrey{
  background-color: rgb(61, 58, 58);
  /* transform: rotate(360deg); */
  transform: rotateX(360deg);
}

.wordInput{
  position: absolute;
  left: 0;
  top: 0;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
}

.wordInput:disabled{
  opacity: 0;
}

.deleteButton{
  height: 50px;
  min-width: 50px;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%,-14%);
  margin: 1%;
  padding: 0;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.enterButton{
  height: 50px;
  min-width: 80px;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(70%,-14%);
  margin: 1%;
  padding: 0;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.errorMessage{
  height: 60px;
  width: 320px;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: black;
  border: white solid 1px;
  border-radius: 20px;
  color: white;
  align-items: center;
  z-index: 1;
  opacity: 0.8;
  font-size: larger;
  transform: translate(0,-110%);
  opacity: 0;
  transition: opacity 1s;
}

.makeOpaque{
  opacity: 1;
}