* {
  touch-action: manipulation;  /*manipulation değeri, kaydırma ve sıkıştırarak zoom’u (pinch zoom) engellemeden double-tap zoom özelliğini devre dışı bırakır.*/
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.testFor{
  /*allWordsDiv'i relative yapıp ondan konum almak için bu css*/
  top: 0%;
  left: 50%;                      /*en solu merkez alarak parent'ın boyutunun yarısı kadar ilerliyor*/
  transform: translateX( -50%);   /*X ekseninde kendi boyutunun yarısı kadar negatif yönde ilerliyor*/
  
}

.letterDiv.bgGreen{
  animation: bgGreen 0s linear 0.5s,
             transform 1s linear;
}
.letterDiv.bgYellow{
  animation: bgYellow 0s linear 0.5s,
             transform 1s linear;
}
.letterDiv.bgGrey{
  animation: bgGrey 0s linear 0.5s,
             transform 1s linear;
}

@keyframes bgGreen{
  from {background-color: rgb(18, 18, 18);}
  to {background-color: rgb(8, 84, 8) !important;}
}

@keyframes bgYellow{
  from {background-color: rgb(18, 18, 18);}
  to {background-color: rgb(193, 199, 20) !important;}
}

@keyframes bgGrey{
  from {background-color: rgb(18, 18, 18);}
  to {background-color: rgb(61, 58, 58);}
}

@keyframes transform{
  from {transform: rotateX(0);}
  to {transform: rotateX(360deg);}

}

.allPage{
  height: 100%;
  width: 100%;
  
}

@media (max-width: 1600px){

.allWordsDiv{
  margin: 200px auto 0;
  width: 820px;
  max-width: 820px;
  min-width: 820px;
  height: 600px;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5%;
  
}

.wordDiv{
  width: 400px;
  height: 72px;
  /* border: 1px darkblue solid; */
  display: grid;
  grid-template-columns: repeat(5, 72px);
  gap: 3px;
  justify-content: center;
}

.letterDiv{
  height: 70px;
  width: 70px;
  border: 1px rgb(100, 98, 98) solid;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue';
  /* transition: background 0s linear 0.5s, transform 1s linear; */
  color: white;
  /* background-color: rgb(18, 18, 18); */
  /* animation: color 0s linear 0.5s,
             transform 1s linear; */
}


.alphabetDiv{
  width: 700px;
  min-width: 700px;
  height: 246px;
  min-height: 246px;
  margin-top: 130px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}

.alphabetLetterBox{
  height: 62px;
  min-height: 62px;
  width: 62px;
  min-width: 62px;
  display: flex;
  margin: 4px;
  padding: 0;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  transition: background 0s linear 1s;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.deleteButton{
  height: 62px;
  min-height: 62px;
  width: 62px;
  min-width: 62px;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-60%,-16%);
  margin: 1%;
  padding: 0;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.enterButton{
  height: 62px;
  min-height: 62px;
  width: 72px;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(64%,-16%);
  margin: 1%;
  padding: 0;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.errorMessage{
  height: 100px;
  width: 400px;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: black;
  border: white solid 1px;
  border-radius: 20px;
  color: white;
  align-items: center;
  z-index: 1;
  opacity: 0.8;
  font-size: 30px;
  transform: translate(0,-110%);
  opacity: 0;
  transition: opacity 1s;
}

.resetButton{
  height: 60px;
  width: 60px;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
  border-radius: 30px;
  right: 0;
  top: 0;
  transform: translateY(-120%);
}

}

@media (min-width: 1601px){

  .allWordsDiv{
  margin: 80px auto 0;
  width: 500px;
  height: 700px;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5%;
  
}

.wordDiv{
  width: 320px;
  height: 60px;
  /* border: 1px darkblue solid; */
  display: grid;
  grid-template-columns: repeat(5, 58px);
  gap: 6px;
  justify-content: center;
}

/* .letterDiv{
  height: 58px;
  width: 58px;
  border: 1px rgb(100, 98, 98) solid;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue';
  transition: background 0s linear 0.5s, transform 1s linear;
  color: white;
  background-color: rgb(18, 18, 18);
} */

.guessLetterDiv{
  height: 58px;
  width: 58px;
  border: 1px rgb(100, 98, 98) solid;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue';
  /* transition: background 0s linear 0.5s, transform 1s linear; */
  color: white;
  /* background-color: rgb(18, 18, 18); */
}

.letterDiv{
  height: 58px;
  width: 58px;
  border: 1px rgb(100, 98, 98) solid;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue';
  /* transition: background 0s linear 0.5s, transform 1s linear; */
  color: white;
  /* background-color: rgb(18, 18, 18); */
  /* animation: color 0s linear 0.5s,
             transform 1s linear; */
  /* animation-play-state: running; */
}



.alphabetDiv{
  width: 570px;
  height: 200px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px rgb(100, 98, 98) solid; */
}

.alphabetLetterBox{
  height: 50px;
  min-width: 50px;
  display: flex;
  margin: 0.5%;
  padding: 0;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  transition: background 0s linear 1s;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.deleteButton{
  height: 50px;
  min-width: 50px;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%,-14%);
  margin: 1%;
  padding: 0;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.enterButton{
  height: 50px;
  min-width: 80px;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(70%,-14%);
  margin: 1%;
  padding: 0;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
}

.errorMessage{
  height: 60px;
  width: 320px;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: black;
  border: white solid 1px;
  border-radius: 20px;
  color: white;
  align-items: center;
  z-index: 1;
  opacity: 0.8;
  font-size: larger;
  transform: translate(0,-110%);
  opacity: 0;
  transition: opacity 1s;
}

.resetButton{
  height: 60px;
  width: 60px;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18);
  border: 1px rgb(100, 98, 98) solid;
  border-radius: 30px;
  right: 0;
  top: 0;
  transform: translateY(-120%);
}

}



.bgGreen{
  background-color: rgb(8, 84, 8) !important;
  /* transform: rotate(360deg); */
  /* transform: rotateX(360deg); */
}

.bgYellow{
  background-color: rgb(193, 199, 20);
  /* transform: rotate(360deg); */
  /* transform: rotateX(360deg); */
}

.bgGrey{
  background-color: rgb(61, 58, 58);
  /* transform: rotate(360deg); */
  /* transform: rotateX(360deg); */
}

.wordInput{
  position: absolute;
  left: 0;
  top: 0;
  height: 0.1px;
  width: 0.1px;
  opacity: 0;
}

.wordInput:disabled{
  opacity: 0;
}



.makeOpaque{
  opacity: 1;
}